doctype html
html 
    head 
        title Umbrella Dance Academy
        block scripts 
        block style 

    body 
        nav#navbar 
            ul 
                div#logo
                    img(src="/static/img/logo1.webp")
                    |UDA
                li #[a(href = '/') Home]
                li #[a(href = '/') About]
                li #[a(href = '/contact') Contact Us]

        block content 
        footer#footer 
            Copyright &copy; 2023 UmbrellaDanceAcademy.com All rights reserved 